# Installer output
/installer
/.claude
# Build output
ktop.exe
ktop
*_tmp.c
*.iss
.claude/
/build
/pkg
/src
/kprocview-git
*.tar*
*.pkg.tar.zst
CMakeLists.txt
PKGBUILD
.claude/*
.claude/settings.local.json
.claude/settings.local.json
